<!DOCTYPE html>
<html>
  <head>
    <title>PacaCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.pacacamp = "<%= image_url('pacacamp.png') %>"
      window.logo = "<%= image_url('logo.png') %>"
      window.tent_arms = "<%= image_url('tent_arms.svg') %>"
      window.sun_bill = "<%= image_url('sun_bill.svg') %>"
      window.palm_eye = "<%= image_url('palm_eye.svg') %>"
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
