<!DOCTYPE html>
<html>
  <head>
    <title>PacaCamp | Camping on Private Land | Find Yourself Outside</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fe795f16af.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.avatar = "<%= image_url('avatar.png') %>"
      window.pacacamp = "<%= image_url('pacacamp.png') %>"
      window.alpaca = "<%= image_url('alpaca.png') %>"
      window.tent_arms = "<%= image_url('tent_arms.svg') %>"
      window.sun_bill = "<%= image_url('sun_bill.svg') %>"
      window.palm_eye = "<%= image_url('palm_eye.svg') %>"
      window.rv = "<%= image_url('rv.png') %>"
      window.tent = "<%= image_url('tent.png') %>"
      window.guests = "<%= image_url('guests.png') %>"
      window.lodging = "<%= image_url('lodging.png') %>"
      window.sites = "<%= image_url('sites.png') %>"
      window.parking = "<%= image_url('parking.png') %>"
      window.walk = "<%= image_url('walk.png') %>"

      window.bins = "<%= image_url('bins.png') %>"
      window.bins_n = "<%= image_url('bins_n.png') %>"
      window.campfire = "<%= image_url('campfire.png') %>"
      window.campfire_n = "<%= image_url('campfire_n.png') %>"
      window.kitchen = "<%= image_url('kitchen.png') %>"
      window.kitchen_n = "<%= image_url('kitchen_n.png') %>"
      window.pets = "<%= image_url('pets.png') %>"
      window.pets_n = "<%= image_url('pets_n.png') %>"
      window.shower = "<%= image_url('shower.png') %>"
      window.shower_n = "<%= image_url('shower_n.png') %>"
      window.toilet = "<%= image_url('toilet.png') %>"
      window.toilet_n = "<%= image_url('toilet_n.png') %>"
      window.water = "<%= image_url('water.png') %>"
      window.water_n = "<%= image_url('water_n.png') %>"
      window.wifi = "<%= image_url('wifi.png') %>"
      window.wifi_n = "<%= image_url('wifi_n.png') %>"

      window.biking = "<%= image_url('biking.png') %>"
      window.boating = "<%= image_url('boating.png') %>"
      window.climbing = "<%= image_url('climbing.png') %>"
      window.fishing = "<%= image_url('fishing.png') %>"
      window.hiking = "<%= image_url('hiking.png') %>"
      window.horse = "<%= image_url('horse.png') %>"
      window.paddling = "<%= image_url('paddling.png') %>"
      window.snow = "<%= image_url('snow.png') %>"
      window.swimming = "<%= image_url('swimming.png') %>"
      window.wildlife = "<%= image_url('wildlife.png') %>"
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
