<!DOCTYPE html>
<html>
  <head>
    <title>PacaCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/afb181878b.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.pacacamp = "<%= image_url('pacacamp.png') %>"
      window.alpaca = "<%= image_url('alpaca.png') %>"
      window.tent_arms = "<%= image_url('tent_arms.svg') %>"
      window.sun_bill = "<%= image_url('sun_bill.svg') %>"
      window.palm_eye = "<%= image_url('palm_eye.svg') %>"
      window.index_demo = "<%= image_url('index_demo.jpg') %>"
      window.rv = "<%= image_url('rv.png') %>"
      window.tent = "<%= image_url('tent.png') %>"
      window.lodging = "<%= image_url('lodging.png') %>"
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
